/* @tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Playfair Display';
  src: url('/public/Playfair_Display/PlayfairDisplay-Italic-VariableFont_wght.ttf');
}

@font-face{
  font-family: 'Molle';
  src: url('/public/Molle/Molle-Italic.ttf');
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; 
}

#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}


.NavBar {
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Silkscreen', sans-serif;
  width: 100%;
  height: 10vh;
  padding: 0 5%;
  opacity: 0.9;
  position: fixed;
  z-index: 1;
  right: 5%;
  background-color: #a47ce149;
}

.HomeComponent {
  position: absolute;
  right: -1000px;
  top: 40px;
}

.ProjectsComponent {
  position: absolute;
  left: 950px;
  bottom: 14px;
}

.ReachComponent {
  position: absolute;
  left: 1200px;
  bottom: 69px;
}

.SoundComponent {
  position: absolute;
  left: 1400px;
  bottom: 128px;

}

.Background {
  background-color: #a47ce1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  scroll-snap-align: start;
}

.Spline {
  transform: scale(0.5);
  min-height: 175vh;
  width: 100vw;
  margin-left: 750px;
  top: 4%;
  margin-top: 200px;

}

.container-class {
  background-color: #852f14;
  border: 1px solid #852f14;
  border-radius: 8px;
  padding: 16px;
  margin: 8px auto;
  max-width: 600px;
  font-family: "Playfair Display", serif;
}

.Contact {
  background-color: #a57ce1;
  scroll-snap-align: start;
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
}

.btn {
  color: rgb(140, 30, 152);
  font-weight: 500;
  text-align: center;
  outline: none;
  box-shadow: 0 0 0 4px rgb(59, 7, 100);
}

.btn:focus {
  outline: none;
  box-shadow: 0 0 0 4px rgba(188, 84, 147, 0.5);
}

.title-text {
  position: absolute;
  transform: translateY(-50%);
  color: #fff;
  font-family: 'Molle', serif;
  max-width: 550px;
  margin-top: 600px;
  margin-right: 1050px;
}

.About{
  background-color: #a47ce1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
  scroll-snap-align: start;
}

.Projects{
  background-color: #a47ce1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
  position: relative;
  scroll-snap-align: start;
}

.AboutMe{
  font-family: "Playfair Display", serif;
}

.MyProjects{
  margin-right: 1450px;
  margin-bottom: 200px;
}



.Container{

  background-color: #d296e163;
}

.TheText{
  font-family: "Playfair Display", serif;
}

.WebImage {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.ComingSoon{
  width: 100%;
  height: 10em;
  object-fit: cover;

}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 430px;
  margin: 1rem auto;
  text-align: center;
  font-family: "Playfair Display", serif;
  background-color: #1b07047d;
}

.price {
  color: white;
  font-size: 14px;
}


.Carousel {
  width: 100%;
  overflow: hidden;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #670f61;
  text-align: center;
  cursor: pointer;
  width: 60%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.5;
}

.button-with-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Con{
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

.footer{
  background-color: #a47ce1;
  scroll-snap-align: start;

} */