@font-face {
  font-family: 'Playfair Display';
  src: url('/public/Playfair_Display/PlayfairDisplay-Italic-VariableFont_wght.ttf');
}

@font-face{
  font-family: 'Molle';
  src: url('/public/Molle/Molle-Italic.ttf');
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.NavBar {
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Silkscreen', sans-serif;
  width: 100%;
  height: 10vh;
  padding: 0 5%;
  opacity: 0.9;
  position: fixed;
  z-index: 1;
  right: 5%;
  background-color: #a47ce149;
}

.AboutComponent {
  position: absolute;
  right: -73%;
  top: 40%;
}

.ProjectsComponent {
  position: absolute;
  left: 65%;
  bottom: 15%;
}

.ReachComponent {
  position: absolute;
  left: 75%;
  bottom: 70%;
}

.Background {
  background-color: #a47ce1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
}

.Spline {
  transform: scale(0.5);
  min-height: 175vh;
  width: 100vw;
  margin-left: 800px;
}

.container-class {
  background-color: #852f14;
  border: 1px solid #852f14;
  border-radius: 8px;
  padding: 16px;
  margin: 8px auto;
  max-width: 600px;
  font-family: "Playfair Display", serif;
}

.Contact {
  background-color: #a57ce1;
}

.btn {
  color: rgb(140, 30, 152);
  font-weight: 500;
  text-align: center;
  outline: none;
  box-shadow: 0 0 0 4px rgb(59, 7, 100);
}

.btn:focus {
  outline: none;
  box-shadow: 0 0 0 4px rgba(188, 84, 147, 0.5);
}

.title-text {
  position: absolute;
  top: 45%;
  left: 5%;
  transform: translateY(-50%);
  color: #fff;
  font-family: 'Molle', serif;
  max-width: 400px;
}
