@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Playfair Display';
  src: url('/public/Playfair_Display/PlayfairDisplay-Italic-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Molle';
  src: url('/public/Molle/Molle-Italic.ttf');
}

/* Global Styles */
body {
  font-family: 'Playfair Display', serif;
  background-color: #a47ce1; /* Same background color as your section */
  color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Section Styles */
section {
  place-items: center;
  align-content: center;
  min-height: 100vh;
}

/* section {
  display: grid;
  place-items: center;
  align-content: center;
  min-height: 100vh;
} */

/* Specific Styles */
h1 {
  font-family: 'Molle', cursive;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: #ffde59; /* Example hover color for links */
}

/* Additional Custom Styles if needed */
.icon-container {
  display: flex;
  gap: 1rem;
}

.icon {
  padding: 1rem;
  border-radius: 50%;
  font-size: 2rem;
}


.Spline {
  transform: scale(0.5);
  width: 100%;
}